/* Empty. Add your own CSS if you like */

@font-face{
    font-family: OpenSans-Semibold;
    src: url(../lib/ionic/fonts/OpenSans-Semibold.ttf);
}
body, span, button{
    padding: 10px, 10px, 10px, 10px;
    font-size: 15px !important;
    font-family: OpenSans-Semibold !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20px !important;
    font-family: OpenSans-Semibold !important;
}

#wrapper h4{
    position:absolute;
    text-align: center;
    margin:auto;
    line-height: 250px;
    vertical-align:middle;
}
.item-image {
    margin: auto !important;
    height: 200px !important;
    width: 200px !important;
    padding: 25px !important;
    display: block;

}

.credit-wrapper {
    position: relative;
    padding: 0px !important;
    background-image: url('../img/animatedCreditCard.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px !important;

}

.budget-wrapper{
    position: relative;
    padding: 0px !important;
    background-image: url('../img/budgetBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px !important;
    width: 100% !important;
}

.credit-section-wrapper {
    position: relative;
    padding: 0px !important;
    background-image: url('../img/Credit-Card-Icons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px !important;

}

.budget-section-wrapper{
    position: relative;
    padding: 0px !important;
    background-image: url('../img/budgetSectionBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px !important;
    width: 100% !important;
}

#chapter1Card {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#chapter2Card {
    -webkit-animation-delay: 0.3s;
    animation-delay:  0.3s;
}

.container.chapter{
    margin: auto !important;
    padding: 10px
}
