<ion-view hide-back-button="false" view-title="Section 2: Captain Credit">
    <ion-content ng-controller="BtnClick">
      <div id="wrapper" class="credit-section-wrapper">
      </div>
       <br />
        <!--Title of this chapter-->
        <div id="chapter_elem">
            <center><h3 class="padding">Becoming Friends with Captain Credit—The Good and the Bad</h3></center>
         </div>
        <div>
          <!-- First Section -->
            <div class="card" style="display:block;" ng-hide="part1Cred">
                <div class="item item-text-wrap">
                  <p>Now that you know what exactly Credit is, how does a person even establish a credit rating? 
                    Think about it—in the future, if you ever want a loan to buy a car, a house, or even a refrigerator, 
                    the bank will essentially want to see what your credit rating is before deciding. But how exactly do you begin?</p>
                </div>
                <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part1Cred = !part1Cred; part2Cred = !part2Cred">
                  Next
                </button>
            </div>

            <!--Second Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part2Cred">
              <div class="item item-text-wrap">
                <p>The best and most obvious approach is through a credit card. By maintaining the balance of a credit card, 
                  paying off the bill on time, using the credit wisely and staying within the limit, this information is 
                  useful and contributes to your credit history! There are many types of Credit Cards with unique features for a 
                  Canadian Credit Card. Some credit cards are specifically designed to store credit history information to allow for
                   mortgages, for example. </p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part2Cred = !part2Cred; part1Cred = !part1Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part2Cred = !part2Cred; part3Cred = !part3Cred">
                        Next
                    </button>
                </div>
               </div>

            <!--Third Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part3Cred">
              <div class="item item-text-wrap">
                <p>Another way most people don’t consider—your phone plan. Some companies like Telus don’t require credit history for a plan, 
                  but with each successful bill payment, will send information to credit bureaus. </p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part3Cred = !part3Cred; part2Cred = !part2Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part3Cred = !part3Cred; part4Cred = !part4Cred">
                        Next
                    </button>
                </div>
              </div>

            <!--Fourth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part4Cred">
              <div class="item item-text-wrap">
                <p>It’s often hard for newcomers in Canada to start off, especially when it comes to Credit ratings. 
                  There are certain countries, such as China, that only consider your capacity of paying off loans, 
                  but never consider the payment history. This is why, when starting off, the earlier you start the credit rating, 
                  the better. In Canada but depending on the province, a person must be the age of majority 
                  (eg. 18 in Ontario, 19 in British Columbia) in order to apply for a credit card. </p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part4Cred = !part4Cred; part3Cred = !part3Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part4Cred = !part4Cred; part5Cred = !part5Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Fifth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part5Cred">
              <div class="item item-text-wrap">
                <p>Credit ratings, in Canada, range from R1 to R9. The lower the number,
                  the better! The higher the number, it means the person has a poor rating,
                  and may not be trustworthy to loan money, and expect repayment. R0 is possible,
                  it just means the person does not have a credit rating.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part5Cred = !part5Cred; part4Cred = !part4Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part5Cred = !part5Cred; part6Cred = !part6Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Sixth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part6Cred">
              <div class="item item-text-wrap">
                <p>Like with many things in life, there are advantages and disadvantages of Mr. Good Ol’ Captain Credit. 
                  It can be a great ally, or an enemy if you do not understand the importance of credit.
                  But let’s focus on the positives first.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part6Cred = !part6Cred; part5Cred = !part5Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part6Cred = !part6Cred; part7Cred = !part7Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Seven Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part7Cred">
              <div class="item item-text-wrap">
                <p>Credit is a good friend. Credit is very convenient and a commonly accepted form of payment at many major stores in Canada, 
                  plus you are using other people’s money when buying—you don’t have to worry about paying off immediately, 
                  just when the bill arrives and the date is there.  You don’t need money immediately to buy that sweet new iPhone 7; 
                  you can buy it now, and immediately enjoy it—plus, you can buy it online too. And finally, you begin establishing a 
                  credit rating once you start using credit, which is useful if you want to get a loan for something in the future as well!</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part7Cred = !part7Cred; part6Cred = !part6Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part7Cred = !part7Cred; part8Cred = !part8Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Eight Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part8Cred">
              <div class="item item-text-wrap">
                <p>…But can you trust Captain Credit? There is obviously temptation and lots of control needed! 
                  There are people who develop addictions with online shopping and going over the limit of their credit card, 
                  buying many things without considering the ability to pay back—and these habits are simply deadly. 
                  Overuse of credit card, such as going over the limit and not paying back, can create negative credit history information. 
                  Since Credit Rating is King in Canada, a damaged credit history will only negatively impact your ability to get a 
                  loan for serious things in the future! </p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part8Cred = !part8Cred; part7Cred = !part7Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part8Cred = !part8Cred; part9Cred = !part9Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Nine Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part9Cred">
                <div class="item item-text-wrap">
                    <p>The ability to budget is key (which is covered in another topic) to make sure you won’t misuse credit. 
                       Always read the fine print, and pay attention to any interest that might need to be paid back! Usually 
                       after a period of time, such as noted on a credit card bill, a bank will charge interest for late payments. 
                       Paying extra is a bummer, but also one of the benefits of being a lender—you receive more than simply the 
                       original amount.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part9Cred = !part9Cred; part8Cred = !part8Cred">
                        Previous
                    </button>
                    <!--QUIZ GOES AFTER THIS BUTTON CLICK-->
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part9Cred = !part9Cred; part1Cred = !part1Cred">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
