<ion-view hide-back-button="false" view-title="Section 3: Types of Loan and Credit">
    <ion-content ng-controller="BtnClick" ng-init="updatelives();">
        <div id="wrapper" class="credit-section-wrapper">
        </div>
        <br />
        <!--Title of this chapter-->
        <div id="chapter_elem">
            <center><h3 class="padding">Types of Loan/ Credit</h3></center>
        </div>
        <div>
            <!-- First Section -->
            <div class="card" style="display:block;" ng-hide="part1Cred">
                <div class="item item-text-wrap">
                    <p>
                        It should come as no surprise that banks have many ways of making money,
                        and collecting service charges on accounts is not the only way—in fact,
                        it accounts for less than 10% of how banks make money! A significant portion comes from interest on loans,
                        deposit boxes, other financial instruments (eg. Mutual funds, GIC), cheques and foreign exchange.
                    </p>
                </div>
                <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part1Cred = !part1Cred; part2Cred = !part2Cred; scrollToTop()">
                    Next
                </button>
            </div>

            <!--Second Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part2Cred">
                <div class="item item-text-wrap">
                    <p>
                        With that being said, just as there are many types of ice-cream flavors to choose from,
                        there are types of loans that people can obtain, depending on factors like what exactly is being bought,
                        or the duration as well.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part2Cred = !part2Cred; part1Cred = !part1Cred; scrollToTop()">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part2Cred = !part2Cred; part3Cred = !part3Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Third Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part3Cred">
                <div class="item item-text-wrap">
                    <p>
                        The most common and frequently discussed type of loan is the Credit Card.
                        It is 30 days, no interest if the balance is paid off during the first 30 days,
                        and then an interest rate that typically is equal to or greater than 20%.
                        You may have heard of these companies, such as Visa, MasterCard or AMEX,
                        however there are many credit card companies out there, especially ones outside of Canada.
                        The best part often involves the rewards and benefits, such as a point system for usage and rewards.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part3Cred = !part3Cred; part2Cred = !part2Cred; scrollToTop()">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part3Cred = !part3Cred; part4Cred = !part4Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Fourth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part4Cred">
                <div class="item item-text-wrap">
                    <p>
                        A bank loan is another type of credit. It often has a term between 3-5 years,
                        and depending on the type of bank loan provided by the bank, the interest rate could be different.
                        These types of loans are ideal for buying appliances such as nice big mini fridge in your garage,
                        electronics or even that purple IKEA sofa you’ve been eyeing for a while.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part4Cred = !part4Cred; part3Cred = !part3Cred; scrollToTop()">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part4Cred = !part4Cred; part5Cred = !part5Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Fifth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part5Cred">
                <div class="item item-text-wrap">
                    <p>
                        Mortgages are a type of loan commonly for buildings, such as houses and office buildings.
                        They tend to have longer terms than a normal bank loan, of 20-25 years, depending on the bank.
                        But there’s more parts to a mortgage than just the principal amount, and the interest—there is
                        also home insurance and taxes—even collateral—that is involved with a mortgage. It is often
                        considered one of the largest amount of debts a person may take upon.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part5Cred = !part5Cred; part4Cred = !part4Cred; scrollToTop()">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part5Cred = !part5Cred; part6Cred = !part6Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Sixth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part6Cred">
                <div class="item item-text-wrap">
                    <p>
                        Installment Loans are loans that require a set amount paid per month;
                        the loan must be repaid in fixed amounts consistently over a period of time.
                        The most common example, especially for future drivers, is a car loan,
                        where it is typically giving a person an option to buy the car now or pay a
                        certain down payment NOW and then a fixed amount for a period of time
                        (eg. $10,000 now, and then $1000 per month for 8 years).
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part6Cred = !part6Cred; part5Cred = !part5Cred; scrollToTop()">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part6Cred = !part6Cred; part7Cred = !part7Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Seven Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part7Cred">
                <div class="item item-text-wrap">
                    <p>
                        Another interesting type of loan is a Demand Loan. Though very rare,
                        this type of loan essentially involves the lender giving money to a borrower,
                        but at any point in time, the lender can ask the borrower back for the money.
                        The strangest part? No advance notice is needed; it just demanded by the lender,
                        and the borrower MUST repay back then and there. This is extremely short-term.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part7Cred = !part7Cred; part6Cred = !part6Cred; scrollToTop()">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part7Cred = !part7Cred; part8Cred = !part8Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Eight Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part8Cred">
                <div class="item item-text-wrap">
                    <p>
                        There are many different types of loans out there, offered from banks and other
                        financial institutions—basically, this list isn’t complete. I encourage you to read
                        carefully and find out what creative loans have been created to help facilitate the
                        use of credit…after all, there are always new ice-cream flavors coming out.
                    </p>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part8Cred = !part8Cred; part7Cred = !part7Cred; scrollToTop()">
                        Previous
                    </button>
                    <!--QUIZ GOES AFTER THIS BUTTON CLICK-->
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part8Cred = !part8Cred; part9Cred = !part9Cred; scrollToTop()">
                        Next
                    </button>
                </div>
            </div>

            <!--Introduction to questions section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part9Cred">
                <div class="item item-text-wrap">
                    <p>
                        Now that you have finished the section on credit here are some questions.
                        You will have 3 attempts for the question.
                        Don't worry if you mess up. You will be brought back to the begining of the section.
                        So you can brush up on what you missed and then you can try again!
                    </p>
                </div>

                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part9Cred = !part9Cred; part8Cred = !part8Cred; scrollToTop()">
                        Previous
                    </button>
                    <!--first question-->
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="partQCred = !partQCred; part9Cred = !part9Cred; scrollToTop(); updatelives();setNumQuestions(4)">
                        Next
                    </button>
                </div>
            </div>
            <!--Questions Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="partQCred">
                <div class="item item-text-wrap">
                    <p>
                        1.	How exactly do banks make money?
                    </p>
                    <ion-list>
                        <ion-item id="Q1A1" ng-click="wrong($event)">a.	They make a significant portion from personal banking fees.</ion-item>
                        <ion-item id="Q1A2" ng-click="wrong($event)">b.	They make money by asking other banks for money.</ion-item>
                        <ion-item id="Q1A3" ng-click="right($event, 'one', 3)">c.	A significant portion comes from interest on loans, as well as income from having deposit boxes and offering financial instruments such as GICs and mutual funds, bonds, etc. </ion-item>
                        <ion-item id="Q1A4" ng-click="wrong($event)">d.	From daily Interac-E transfers and non-machine transfer fees.</ion-item>
                    </ion-list>
                </div>
                <div class="button-bar">
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="partQ2 = !partQ2; partQCred = !partQCred;">
                        Next
                    </button>
                </div>
              </div>

                <div ng-cloak class="card ng-cloak ng-hide" ng-show="partQ2">
                    <div class="item item-text-wrap">
                        <p>
                            2.	What happens generally if a person does not pay their credit card balance within a designated period (usually 30 days?)
                        </p>
                        <ion-list>
                            <ion-item id="Q2A1" ng-click="right($event, 'one', 3)">a.	Interest begins to be charged and compounded, usually at a rate equal to or greater than 20%.</ion-item>
                            <ion-item id="Q2A2" ng-click="wrong($event)">b.	Nothing happens.</ion-item>
                            <ion-item id="Q2A3" ng-click="wrong($event)">c.	Consumers feel the intensive urge to Impulse Buy afterwards.</ion-item>
                            <ion-item id="Q2A4" ng-click="wrong($event)">d.	The 3 C’s of Credit are satisfied and therefore a person is rewarded with a better credit rating. </ion-item>
                        </ion-list>
                    </div>
                    <div class="button-bar">
                        <button class="button button-block icon-right ion-chevron-right button-light" ng-click="partQ3 = !partQ3; partQ2 = !partQ2;">
                            Next
                        </button>
                    </div>
                </div>

                <div ng-cloak class="card ng-cloak ng-hide" ng-show="partQ3">
                    <div class="item item-text-wrap">
                        <p>
                            3.	Mary has a friend who wants to attend a wedding soon, however currently lacks the money to buy a gift for the event. Mary can provide a loan for her friend, but needs the money paid back very quickly afterwards for personal use. What type of loan should Mary give her friend?
                        </p>
                        <ion-list>
                            <ion-item id="Q3A1" ng-click="wrong($event)">a.	A credit card.</ion-item>
                            <ion-item id="Q3A2" ng-click="wrong($event)">b.	Mortgage.</ion-item>
                            <ion-item id="Q3A3" ng-click="wrong($event)">c.	Installment Loan.</ion-item>
                            <ion-item id="Q3A4" ng-click="right($event, 'one', 3)">d.	Demand Loan.</ion-item>
                        </ion-list>
                    </div>
                    <div class="button-bar">
                        <button class="button button-block icon-right ion-chevron-right button-light" ng-click="partQ4 = !partQ4; partQ3 = !partQ3;">
                            Next
                        </button>
                    </div>
                </div>

                <div ng-cloak class="card ng-cloak ng-hide" ng-show="partQ4">
                    <div class="item item-text-wrap">
                        <p>
                            4.	A man named Mr. Dougall hosted a sports team that needed money for a trip, $1000. Instead of taking a loan, he used his credit card to pay for the trip, and knew the team would basically fund raise the amount in time to pay for the trip.
                        </p>
                        <ion-list>
                            <ion-item id="Q4A1" ng-click="wrong($event)">a.	None of the duration of the loans fit this scenario.</ion-item>
                            <ion-item id="Q4A2" ng-click="wrong($event)">b.	The interest for an installment loan would’ve been greater than the bank loan.</ion-item>
                            <ion-item id="Q4A3" ng-click="wrong($event)">c.	He wanted to be forced to immediately pay back a Demand Loan.</ion-item>
                            <ion-item id="Q4A4" ng-click="right($event, 'one', 3)">d.	He would be able to gain points towards his Credit Card, and redeeming it later. </ion-item>
                        </ion-list>
                    </div>
                </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced">
        <h1 class="title">
            You have <span id="liv"></span> attempts remaining
        </h1>
    </ion-footer-bar>
</ion-view>
