<ion-view hide-back-button="false" view-title="Section 1: Credit">
    <ion-content ng-controller="BtnClick" ng-init="updatelives();">
      <div id="wrapper" class="credit-section-wrapper">
      </div>
       <br />
        <!--Title of this chapter-->
        <div id="chapter_elem">
            <center><h3 class="padding">What is credit, and credit rating? Why is it important? </h3></center>
         </div>
        <div>
          <a id="top"></a>
          <!-- First Section -->
            <div class="card" style="display:block;" ng-hide="part1Cred">
                <div class="item item-text-wrap">
                  <p>Have you ever seen the word a dozen times, but never really thought about what exactly credit means?</p>
                </div>
                <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part1Cred = !part1Cred; part2Cred = !part2Cred">
                  Next
                </button>
            </div>

            <!--Second Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part2Cred">
              <div class="item item-text-wrap">
                <p>In short and sweet sense, Credit, is a simple agreement,
                  where the borrower promises to repay back the borrower at a later date.
                  As a benefit, the borrower would be able to buy anything they want with the borrowed money,
                  so as long as they return in the future! This is a serious advantage if you consider this:
                  You don’t need money now to enjoy that iPhone you’ve been wanting to buy for ages! Sounds simple right? </p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part2Cred = !part2Cred; part1Cred = !part1Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part2Cred = !part2Cred; part3Cred = !part3Cred">
                        Next
                    </button>
                </div>
               </div>

            <!--Third Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part3Cred">
              <div class="item item-text-wrap">
                <p>Well, many times it isn’t just returning the original amount,
                  or the principal say $100. Sometimes the lender will want interest payments,
                  such as 10% of the original amount, or $10. We will get into details about this later.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part3Cred = !part3Cred; part2Cred = !part2Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part3Cred = !part3Cred; part4Cred = !part4Cred">
                        Next
                    </button>
                </div>
              </div>

            <!--Fourth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part4Cred">
              <div class="item item-text-wrap">
                <p>A person’s credit rating is basically KING in Canada.
                  Why? A credit rating is a person’s reputation of repaying back the money owed.
                  Think about it—would you rather lend to a friend you know who will never pay you back,
                  or a family member that will? Credit rating tells institutions,
                  such as banks, if a person is probable to repay back any money loaned to them.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part4Cred = !part4Cred; part3Cred = !part3Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part4Cred = !part4Cred; part5Cred = !part5Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Fifth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part5Cred">
              <div class="item item-text-wrap">
                <p>Credit ratings, in Canada, range from R1 to R9. The lower the number,
                  the better! The higher the number, it means the person has a poor rating,
                  and may not be trustworthy to loan money, and expect repayment. R0 is possible,
                  it just means the person does not have a credit rating.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part5Cred = !part5Cred; part4Cred = !part4Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part5Cred = !part5Cred; part6Cred = !part6Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Sixth Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part6Cred">
              <div class="item item-text-wrap">
                <p>Credit bureaus are organizations that gather information on borrowers.
                  Some organizations that gather them are: Equifax Canada, TransUnion, CollectCents,
                  etc. The history of a person’s credit rating is known as the credit history.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part6Cred = !part6Cred; part5Cred = !part5Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part6Cred = !part6Cred; part7Cred = !part7Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Seven Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part7Cred">
              <div class="item item-text-wrap">
                <p>Got a bruise on your credit history? Fortunately,
                  credit bureaus like Equifax only keep negative credit history
                  information on the account for 7 years, or 10 years for business
                  bankruptcies. The best part is, you can currently request your
                  credit report free of charge by mail, or with a small fee online in Canada.</p>
              </div>
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part7Cred = !part7Cred; part6Cred = !part6Cred">
                        Previous
                    </button>
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part7Cred = !part7Cred; part8Cred = !part8Cred">
                        Next
                    </button>
                </div>
            </div>

            <!--Eight Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part8Cred">
              <div class="item item-text-wrap">
                <p>Finally, what exactly does the Credit rating include?
                  You can easily remember them as the three C’s, because they
                  measure three things about a person:</p>
                  <ion-list>
                    <ion-item>Character: Can you trust the person to be reliable and pay back their loans?</ion-item>
                    <ion-item>Capacity: Does the person have the ability to repay the money owed?</ion-item>
                    <ion-item>Capital: Does the person own things, and how much are they worth?</ion-item>
                  </ion-list>
              </div>
              
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part8Cred = !part8Cred; part7Cred = !part7Cred">
                        Previous
                    </button>
                    <!--QUIZ GOES AFTER THIS BUTTON CLICK-->
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="part8Cred = !part8Cred; part9Cred = !part9Cred">
                        Next
                    </button>
                </div>
				</div>
				<!--Introduction to questions section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="part9Cred">
              <div class="item item-text-wrap">
                <p>Now that you have finished the section on credit here are some questions. 
				You will have 3 trys for the question.
				Don't worry if you mess up. You will be brought back to the begining of the section.
				So you can brush up on what you missed and then you can try again!
				</p>
              </div>
               
                <div class="button-bar">
                    <button class="button button-block icon-left ion-chevron-left button-light" ng-click="part9Cred = !part9Cred; part8Cred = !part8Cred">
                        Previous
                    </button>
                    <!--first question-->
                    <button class="button button-block icon-right ion-chevron-right button-light" ng-click="partQCred = !partQCred; part9Cred = !part9Cred; updatelives();setNumQuestions(5)">
                        Next
                    </button>
                </div>
			</div>
					<!--Questions Section-->
            <div ng-cloak class="card ng-cloak ng-hide" ng-show="partQCred">
              <div class="item item-text-wrap">
                <p>
					1.	What is Credit?
				</p>
                  <ion-list>
                    <ion-item id = "Q1A1" ng-click = "wrong($event)">a.	An instrument used to facilitate loans and flow of capital </ion-item>
                    <ion-item id = "Q1A2" ng-click = "wrong($event)">b.	A type of pizza sauce that is sold on Tuesdays at Pizza Hut</ion-item>
                    <ion-item id = "Q1A3" ng-click = "wrong($event)">c.	An accounting practice that involves IFRS and ASPE that involves interest and </ion-item>
					<ion-item id = "Q1A4" ng-click = "right($event, 'one', 1)">d.	An arrangement for a person to pay back any money, sometimes with an interest payment and duration</ion-item>
                  </ion-list>
              </div>
			
			  <div class="item item-text-wrap">
                <p>
					2.	Why is Credit even important?
				</p>
                  <ion-list>
                    <ion-item id = "Q2A1" ng-click = "right($event, 'one', 1)">a.	It provides useful information regarding a person’s ability and reliability to repay back any outstanding loans.</ion-item>
                    <ion-item id = "Q2A2" ng-click = "wrong($event)">b.	It is measured using the three C’s: Consistency, Comparability and Compensation</ion-item>
                    <ion-item id = "Q2A3" ng-click = "wrong($event)">c.	I don’t know, do you think it’s important?</ion-item>
					<ion-item id = "Q2A4" ng-click = "wrong($event)">d.	The government of Canada and the Credit Bureau just want to know this information.</ion-item>
                  </ion-list>
              </div>
			  
			  <div class="item item-text-wrap">
                <p>
					3.	There are two credit ratings, R2 for Person A, and R6 for Person B. Which person would you be willing to make a loan to?
				</p>
                  <ion-list>
                    <ion-item id = "Q3A1" ng-click = "right($event, 'one', 1)">a.	Person C</ion-item>
                    <ion-item id = "Q3A2" ng-click = "wrong($event)">b.	Person B</ion-item>
                    <ion-item id = "Q3A3" ng-click = "right($event)">c.	Person A</ion-item>
					<ion-item id = "Q3A4" ng-click = "wrong($event)">d.	Trick question, Credit Ratings only go up to R5!</ion-item>
                  </ion-list>
              </div>
			  
			  <div class="item item-text-wrap">
                <p>
					4.	There are two credit ratings, R2 for Person A, and R9 for Person B. Which person would 
				</p>
                  <ion-list>
                    <ion-item id = "Q4A1" ng-click = "right($event, 'one', 1)">a.	Person B</ion-item>
                    <ion-item id = "Q4A2" ng-click = "wrong($event)">b.	Person C</ion-item>
                    <ion-item id = "Q4A3" ng-click = "wrong($event)">c.	Person Z</ion-item>
					<ion-item id = "Q4A4" ng-click = "wrong($event)">d.	Trick question, Credit Ratings only go up to R10!</ion-item>
                  </ion-list>
              </div>
			  
			  <div class="item item-text-wrap">
                <p>
					5.	Your grandmother gives you her valuable,
					expensive diamond necklace on your birthday,
					and it is now yours in possession.
					Considering this, which C’s of Credit would this be an example of,
					if you had to make a loan?
				</p>
                  <ion-list>
                    <ion-item id = "Q5A1" ng-click = "right($event, 'one', 1)">a.	Comparability</ion-item>
                    <ion-item id = "Q5A2" ng-click = "wrong($event)">b.	Capital</ion-item>
                    <ion-item id = "Q5A3" ng-click = "wrong($event)">c.	Compensation</ion-item>
					<ion-item id = "Q5A4" ng-click = "wrong($event)">d.	Capacity</ion-item>
                  </ion-list>
              </div>		
			</div>
        </div> 
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">
            You have <span id="liv"></span> trys remaining
        </div>
    </div>
</ion-view>
