<ion-view hide-back-button="true" view-title="iFinance">
    <ion-content>
        <center>
            <h4>Welcome to iFinance</h4>
        </center>     
        
        <!-- Here is where we add the list card for each chapter-->
        <div class="list card animated bounceInLeft">

            <div class="item item-avatar">
                <img src="img/one.png">
                <h2>Chapter 1</h2>
                <p>Learn about Credit and Budgeting</p>
            </div>

            <div class="item item-image">
                <img src="img/payment-method.png">
            </div>

            <a class="item item-icon-left dark" href="#">
                <i class="icon ion-log-in"></i>
                Start Chapter
            </a>

        </div> 
    </ion-content>
</ion-view>